body{ margin: 0; padding: 0; font-family: "Helvetica Neue", sans-serif; }


/* important: this is dumb. */
.search-highlight{ 
	font-family: "Helvetica Neue", sans-serif;
	background-color: rgba(255, 255, 0, .8);
	color: rgba(0,0,0,.6);
	border-radius: 3px;
	font-size: 13px;
	padding: 2px 5px;}
.highlight-1{ background-color: rgba(255, 255, 0, 0.4); }
.highlight-2{ background-color: rgba(255, 255, 0, 0.45); }
.highlight-3{ background-color: rgba(255, 255, 0, 0.5); }
.highlight-4{ background-color: rgba(255, 255, 0, 0.55); }
.highlight-5{ background-color: rgba(255, 255, 0, 0.6); }
.highlight-6{ background-color: rgba(255, 255, 0, 0.65); }
.highlight-7{ background-color: rgba(255, 255, 0, 0.7); }
.highlight-8{ background-color: rgba(255, 255, 0, 0.75); }
.highlight-9{ background-color: rgba(255, 255, 0, 0.8); }
.highlight-10{ background-color: rgba(255, 255, 0, 0.85); }

#events { display: none; } 
#important{ display: none; } 

a {
	color: #3366FF;
}

#toolbar {
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
	background-color: rgba(255,255,255,.9);
	box-shadow: 0 1px 1px rgba(0,0,0,.3), 0 -20px 5px 20px rgba(0,0,0,.3);
}

.toolbar-break {
	display: block;
} 

		@media (min-width: 500px) {
			.toolbar-break {
				display: inline;
			} 
		}

	#toolbar_inner {
		padding: 5px 8px 6px;
		text-align: center;
	}

	#toolbar_inner h3 {
		margin: 0;
		padding: 3px 0 ;
		font-size: 13px;
	}
	
	#toolbar_inner h3:before {
		content: "\00ab ";
		margin-right: 5px;
	}

	#toolbar #searchbox {
		width: 150px;
		border: 1px solid rgba(0,0,0,.2);
		border-top-color: rgba(0,0,0,.3);
		box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
		padding: 1px 5px 2px;
		margin-left: 2px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	} 

	#toolbar #searchbutton {
		display:none;
	}

	#toolbar .toolbutton {
		border: 1px solid rgba(0,0,0,.3);
		border-top-color: rgba(0,0,0,.2);
		border-left-color: rgba(0,0,0,.25);
		border-right-color: rgba(0,0,0,.25);
		padding: 1px 5px 1px;
		margin-left: 2px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		text-decoration: none;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 -1px 1px rgba(0,0,0,.03) inset;
		font-size: 12px;
		color: #000;
	}

	#toolbar .toolbutton:hover {
		border: 1px solid rgba(0,0,0,.4);
	}

	.backbutton {
		position: absolute;
		left: 0;
		right: 0;
		font-size: 12px;
		line-height: 25px;
		background-color: #fff
	}

	#hide-join-quit label {
		font-size: 12px;
	}

	#loading {
		position: absolute;
		left: 8px;
		top: 8px;
	}

#content {
	margin: 32px 0px;
	color: #333;
	font-size: 13px;
	background-color: #fefefe;
}

	.searchresult {
		padding-top: 20px
	}

#irc,
	#irc li {
		margin: 0;
		padding: 0;
	}

	#irc li {
		position: relative;
		line-height: 20px;
		border-bottom: 1px solid #f1f1f1;
		vertical-align: top;
		overflow: hidden;
	}
		#irc li:hover {
			background-color: #f9f9f9;
		}

		#irc .pagebreak {
			border-bottom: 1px solid #333;
		}

		#irc li:first-child.pagebreak {
			border-bottom: 1px solid #f1f1f1;
		}

		#irc li:last-child.pagebreak {
			border-bottom: 1px solid #f1f1f1;
		}

	.name {
		display: block;
		padding: 5px 5px 0 5px;
	}

		.name a {
			font-weight: bold;
			text-decoration: none;
			color: #333;
		}

	.message {
		margin-left: 0%;
		display: block;
		padding: 0 5px 5px 5px;
	}

		@media (min-width: 500px) {
			.name {
				position: absolute;
				left:0;
				top: -1px;
				text-align: right;
				width: 20%;
				padding: 0;
			}

			.message {
				margin-left: 20%;
				padding: 0;
			}
		}

		@media (min-width: 900px) {
			.name {
				width: 10%;
			}

			.message {
				margin-left: 10%;
			}
		}

	.date {
		position: absolute;
		right: 5px;
		top: 0;
		display: none;
		font-size: x-small;
		color: #999;
		background-color: #f9f9f9;
		box-shadow: -10px 0 5px 0px #f9f9f9;
	}
		li:hover .date {
			display: block;
		}

.inline-image-link {
	color: #ccc;
}
	.inline-image {
		display: block;
		border:1px solid #ccc;
		margin: 0 0 5px 0;
		padding: 10px;
		background-color: #fff;
		max-width: 92%;
	}

.highlighted {
	background-color: rgba(0, 255, 0, .2)
}

#irc  .join, #irc .join a {
	color: #999;
}

#irc  .action, #irc .action a {
	color: purple;
}

#irc .topic, #irc .topic a {
	color: blue;
}

#irc .nick, #irc .nick a {
	color: darkblue;
}

#irc .quit, #irc .quit a {
	font-size: small;
	color: #666;
}
	
#footer {
	font-size: xx-small;
	text-align: right;
	margin: 10px;
}


	

#horrible_error {
	position: absolute;
	background-color: #F5F57F;
	top: 30px;
	left: 50%;
	margin-left: -25%;
	z-index: 500;
	width: 50%;
	padding: 10px;
	border: 2px solid black;
}

	#horrible_error h2 {
		margin-top: 0;
	}

#error {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	width: 95%;
	margin: auto;
}