#mainmenu
{
	background: url('images/line.png');
	float: right;
	margin: 2em 2em 2em 2em;
	border: 2px solid crimson;
	width: 20em;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

	#mainmenu #mainlogo
	{
		background: url('images/pierc.png');
		width: 195px;
		margin: auto;
		height: 92px;
		display: block;
		padding-bottom: 0;
		margin-bottom: -10px;
	}
	
	#mainmenu ul
	{
		background-color: crimson;
		list-style-type: none;
		padding: 0.2em 1em 0.2em 0.5em ;
		font-family: Helvetica, Arial, sans-serif;
	}
	
		#mainmenu ul li
		{
			display: inline;
			padding-left: 1em;
		}
		
		#mainmenu ul li a
		{
		text-decoration: none;
		color: white;
		}
	
	#mainmenu form
	{
		padding-left: 3.5em;
	}
		

#content
{
	width: 90%;
	margin: auto;
	margin-top: 0;
	padding: 1em;
	border: solid crimson 7px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	
}

.irc 
{
	font-family: monospace;
	font-size: 110%;
	list-style-type: none;
}

	.irc li
	{
		min-height: 0.3em;
	}

	.irc .special
	{
		font-size: 150%;
	}

	.irc .tiny_button img
	{
		height: 10px;
		border: 1px solid #EEE;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		padding-left: 6px;
		padding-right: 6px;
	}

	.irc .tiny_button img:hover
	{
		border: 1px solid #CCC;
		background-color: #DDD;
	}

	.irc .pubmsg
	{

	}

	.irc .time
	{
		font-size: 8px;
		color: grey;
	}

	.irc .time:hover
	{
		font-size: 80%;
		font-weight: bold;
	}

	.irc  .join
	{
		color: green;
	}

	.irc  .part
	{
		color: salmon;
	}

	.irc  .action
	{
		color: purple;
	}

	.irc  .topic
	{
		color: blue;
		border-top: 1px solid blue;
		border-bottom: 1px solid blue;
		padding: 0.5em 0.5em 0.5em 0.5em;
		margin: 0.5em 0.5em 0.5em 0.5em;
	}

	.irc .name
	{
		font-weight: bold;
	}
	
	.irc .filler
	{
		visibility: hidden;
	}
